.section-title {
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  @mixin atSmall {
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
  }
  strong {
    font-weight: 700;
  }
  &__icon {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0.6rem;
    @mixin atSmall {
      margin-right: 0.5rem;
      display: inline-block;
      margin-left: 0;
      margin-bottom: 0;
    }
  }
}
